<div class="form-group msg-form">
  <%= form_with(model: [@single_room, @message], remote: true, class: 'd-flex', data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}) do |f| %>

    <%# preview block for JS event %>
    <div id="attachment-previews" data-controller="message-preview" data-action="message-preview#preview"></div>

    <%# attachments input fields %>
    <div class="image-upload">
      <label for="message_attachments"><i class="bi bi-plus-circle upload-button"></i></label>
      <%= f.file_field(:attachments, multiple: true, data:{ controller: "message-preview", action:"change->message-preview#preview" }) %>
    </div>                           <%# multiple: true => allows multiple attachments at once %>

    <%# message context --- TEXT field %>
    <%= f.text_field :content, id: 'chat-text', class: 'form-control msg-content', autocomplete: 'off' %>

    <%# submit button %>
    <%= f.submit "Send", data: { disable_with: false, controller: "message-preview", action:"click->message-preview#clearPreviews" }, class: 'btn btn-primary' %>

  <% end %>
</div>


<%# looks at the model: [] => 
  does not matter where this end up in the controllers, these 2 instance variables must be present. 
    rooms/:id   => rooms controller #show
    users/:id   => users controller #show
    create new message => message controller #create
    => all of these methods need @single_room && @message attributes
%>